@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family:'Raleway', sans-serif;
  
}
/* This styles the aside container */
#aSide {
  height: 600px;
  width: 1000px;
 margin: auto;

}

/* This styles the 3D object inserted in the aside container */
#aSide model-viewer {
  height: 600px;
  width: 1000px;

  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #333333;
    background: white;
  }
}
.hide::-webkit-scrollbar {
  display: none;
}


